<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3><%=t 'activemodel.models.contact' %></h3>
    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :dob %>
      <br/>
      <%= f.text_field :dob %>
    </div>

    <h3><%= t('activemodel.models.email').pluralize %></h3>
    <%= render :partial => 'email', :collection => @emails %>

    <h3><%= t('activemodel.models.address').pluralize %></h3>
    <%= render :partial => 'address', :collection => @addresses %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
