<p id="notice"><%= notice %></p>

<p>
  <b>Street 1:</b>
  <%= @address.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%= @address.street_2 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Contact:</b>
  <%= @address.contact %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
